html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(39, 43, 77);
  }
  :host{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
  }

  .node {
  cursor: pointer;
  }

  .node circle {
  }

  .node text {
  font: 10px sans-serif;
  }

  .link {
  fill: none;
  stroke: rgb(55, 68, 105);
  stroke-width: 1px;
  }

  figure{
    height: 100%;
    width: 100%;
  }

  /* d3-context-menu styles */

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}
.svg-popupmenuDiv{
  background-color: #ffffff;
}

.example-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 1em;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.foreibnObjectText{
  color:red
}
:host{
  display: flex;
  flex-direction: column;;
  height: 100%;
  width: 100%;
  .container{
    --text-color: #080;
    margin:10px;

    h3{
      font-family: "Source Sans Pro", sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      color: rgb(157, 170, 189);
      font-weight: 500;

    }
    hr{
      width: 100%;
      border-top: thin rgba(0, 157, 222, 0.3) solid;
      border-width: thin;
      margin: 0 0 15px;
    }
    form{
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 400px;
      .form--content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      .sidenav--footer{
        display: flex; flex-flow: row;margin-top: auto;color:#0f9add;
        button.button--save{
          color:#0f9add
        }
        button.button--save[disabled][disabled]{
          color:gray
        }
      }

    }
    // .mdc-text-field--filled,.mdc-text-field--filled,input,.mat-mdc-form-field-focus-overlay{
    //   background-color: #fff;
    // }
    .mdc-text-field--filled:not(.mdc-text-field--disabled){
      background-color: rgba(255,255,255,1);
    }

  }
}
