html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(39, 43, 77);
  }
  .node {
  cursor: pointer;
  }

  .node circle {
  }

  .node text {
  font: 10px sans-serif;
  }

  .link {
  fill: none;
  stroke: rgb(55, 68, 105);
  stroke-width: 1px;
  }

  figure{
    height: 100%;
  }

  /* d3-context-menu styles */

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}
.svg-popupmenuDiv{
  background-color: #ffffff;
}
