<div class="container-fluid">
  <button mat-stroked-button (click)="addNewTreeTab()">Add new tree tab</button>&nbsp;
  <button mat-stroked-button (click)="addNewEditorTab()">Add new Editor tab</button>
  <button mat-stroked-button (click)="newTask()">open dialog</button>
  <mat-tab-group  mat-stretch-tabs="false" mat-align-tabs="start"  [selectedIndex]="selectedTab"
  (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let tab of tabs; let tabIndex = index">
    <ng-template mat-tab-label>
     <span class="tab-label__text__span"  matTooltip="{{tab.title}}"  matTooltipClass="tooltip-class"> {{ tab.title }}</span>

      <i class="material-icons close-icon" (click)="removeTab(tabIndex)">close</i>
    </ng-template>
  <div style="padding: 0px 5px">
  <app-tab-content [tab]="tab"></app-tab-content>
  </div>
  </mat-tab>
  </mat-tab-group>
  <button mat-button>Basic</button>

</div>

