@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root{
  --mdc-filled-text-field-container-color:#fff;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255,1);
  }
  .node {
  cursor: pointer;
  }

  .node circle {
  }

  .node text {
  font: 12px sans-serif;
  }

  .foreignObjectText{
    font: 12px sans-serif;
  }


  .link {
  fill: none;
  stroke: rgb(55, 68, 105);
  stroke-width: 1px;
  }
/* d3-context-menu styles */

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}
.svg-popupmenuDiv{
  background-color: #ffffff;
}



.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: rgba(255,255,255,1);
}
.container{

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: var( --mdc-filled-text-field-container-color,rgba(255,255,255,1));
    padding: 0px;
  }
  .mat-mdc-form-field-focus-overlay {
    background-color: rgba(255,255,255,1);
}

}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(255,255,255,1);
  padding: 0px;
}

.mdc-dialog__surface{
  overflow-y: visible !important;
}



.mat-mdc-tab-header{
  border-bottom: thin rgba(0, 157, 222,0.3) solid;
}
.tooltip-class{
  background-color: #afafaf;
  color:rgba(0, 157, 222,1);
  border:thin rgba(0, 157, 222,0.3) solid;
  border-radius: 5px;
}

.mat-mdc-tooltip {
  --mdc-plain-tooltip-container-color: #fff;
  --mdc-plain-tooltip-supporting-text-color: #000;
}
